/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Zone header */
.header {
    background-color: #51d365;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

/* Conteneur principal */
.main-content {
    display: flex;
}

/* Zone menu */
.menu {
    width: 20%;
    background-color: #f8f8f8;
    padding: 15px;
    border-right: 1px solid #ddd;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    margin-bottom: 10px;
}

.menu ul li ul {
    margin-top: 5px;
    padding-left: 15px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
}

/* Zone page */
.page {
    width: 80%;
    padding: 150px;
}


/* Zone footer */
.footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    position: absolute;
    bottom: 0;
    width: 100%;
}






table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f4f4f4;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f1f1f1;
}
